click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.3
pandas==0.20.3
psycopg2==2.7.3.1
pymongo==3.5.1
python-dateutil==2.6.1
pytz==2017.2
six==1.11.0
Werkzeug==0.12.2
flask-cors==3.0.3
rake-nltk==1.0.1
nltk==3.2.5
